<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/mainlogo2"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/mainlogo"
        android:supportsRtl="true"
        android:theme="@style/Theme.PursePulse"
        tools:targetApi="31">
        <activity
            android:name=".utils.ChartUtils"
            android:exported="false" />
        <activity
            android:name=".utils.Extensions"
            android:exported="false" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.navigation.NavGraph"
            android:exported="false" />
        <activity
            android:name=".ui.navigation.BottomNavView"
            android:exported="false" />
        <activity
            android:name=".ui.budget.BudgetViewModel"
            android:exported="false" />
        <activity
            android:name=".ui.budget.BudgetFragment"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.TransactionsViewModel"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.TransactionAdapter"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.EditTransactionFragment"
            android:exported="false" />
        <activity
            android:name=".ui.transactions.AddTransactionFragment"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeViewModel"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeFragment"
            android:exported="false" />
        <activity
            android:name=".data.model.Transaction"
            android:exported="false" />
        <activity
            android:name=".data.local.TransactionDatabaseHelper"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".set_budget"
            android:exported="false" />
        <activity
            android:name=".UpdateTransaction"
            android:exported="false" />
        <activity
            android:name=".Edittransaction"
            android:exported="false" />
        <activity
            android:name=".Budget"
            android:exported="false" />
        <activity
            android:name=".Addtransction"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>